<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongtong.clerk.dao.ClerkHintFollowMapper">
  <resultMap id="BaseResultMap" type="com.dongtong.clerk.domain.ClerkHintFollow">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="hint_id" jdbcType="BIGINT" property="hintId" />
    <result column="clerk_id" jdbcType="BIGINT" property="clerkId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="creater" jdbcType="BIGINT" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <resultMap id="FollowResultMap" type="com.dongtong.clerk.dto.ClerkHintFollowDTO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="hint_id" jdbcType="BIGINT" property="hintId" />
    <result column="clerk_id" jdbcType="BIGINT" property="clerkId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="real_name" jdbcType="BIGINT" property="clerkName" />
    <result column="head_portrait" jdbcType="VARCHAR" property="clerkImg" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, hint_id, clerk_id, content,delete_flag, creater, create_time, modifier, modify_time, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
    开发负责人：zhanghz
    功能说明：根据主键获取一条数据库记录
    是否有缓存：无
    -->
    select 
    <include refid="Base_Column_List" />
    from clerk_hint_follow
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
    开发负责人：zhanghz
    功能说明：根据主键删除数据库的记录
    是否有缓存：无
    -->
    update clerk_hint_follow set delete_flag=1
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.dongtong.clerk.domain.ClerkHintFollow" useGeneratedKeys="true">
    <!--
    开发负责人：zhanghz
    功能说明：插入数据库记录
    是否有缓存：无
    -->
    insert into clerk_hint_follow (id, hint_id, clerk_id, 
      content, creater, create_time, 
      modifier, modify_time, version
      )
    values (#{id,jdbcType=BIGINT}, #{hintId,jdbcType=BIGINT}, #{clerkId,jdbcType=BIGINT}, 
      #{content,jdbcType=VARCHAR}, #{creater,jdbcType=BIGINT}, now(), 
      #{modifier,jdbcType=BIGINT}, #{modifyTime,jdbcType=TIMESTAMP}, 0
      )
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.dongtong.clerk.domain.ClerkHintFollow" useGeneratedKeys="true">
    <!--
    开发负责人：zhanghz
    功能说明：选择性插入数据库记录
    是否有缓存：无
    -->
    insert into clerk_hint_follow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hintId != null">
        hint_id,
      </if>
      <if test="clerkId != null">
        clerk_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="hintId != null">
        #{hintId,jdbcType=BIGINT},
      </if>
      <if test="clerkId != null">
        #{clerkId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        now(),
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        0,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dongtong.clerk.domain.ClerkHintFollow">
    <!--
    开发负责人：zhanghz
    功能说明：根据主键来更新对应数据库字段
    是否有缓存：无
    -->
    update clerk_hint_follow
    <set>
      <if test="hintId != null">
        hint_id = #{hintId,jdbcType=BIGINT},
      </if>
      <if test="clerkId != null">
        clerk_id = #{clerkId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      modify_time = now(),
      version = version+1
    </set>
    where id = #{id,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dongtong.clerk.domain.ClerkHintFollow">
    <!--
    开发负责人：zhanghz
    功能说明：根据主键来更新数据库记录
    是否有缓存：无
    -->
    update clerk_hint_follow
    set hint_id = #{hintId,jdbcType=BIGINT},
      clerk_id = #{clerkId,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=BIGINT},
      modify_time = now(),
      version = version+1
    where id = #{id,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
  </update>
  <select id="selectByPage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" /> 
    from clerk_hint_follow
    order by create_time desc 
  </select>
  <select id="selectListByHintId" resultMap="FollowResultMap">
    select
    f.id, f.hint_id, f.clerk_id, f.content, c.head_portrait, f.create_time,c.real_name
    from clerk_hint_follow f inner join clerk c on f.clerk_id=c.id
    where f.delete_flag=0 and f.hint_id=#{hintId,jdbcType=BIGINT}
    order by create_time desc
  </select>
</mapper>