<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongtong.topic.dao.ContentTagsMapper">
  <resultMap id="BaseResultMap" type="com.dongtong.topic.domain.ContentTags">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="content_type" jdbcType="BIT" property="contentType" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="creater" jdbcType="BIGINT" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tag_name, content_type, icon, status, creater, create_time, modifier, modify_time, 
    version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
    开发负责人：chen xiushen
    功能说明：根据主键获取一条数据库记录
    是否有缓存：无
    -->
    select 
    <include refid="Base_Column_List" />
    from content_tags
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
    开发负责人：chen xiushen
    功能说明：根据主键删除数据库的记录
    是否有缓存：无
    -->
    delete from content_tags
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.dongtong.topic.domain.ContentTags" useGeneratedKeys="true">
    <!--
    开发负责人：chen xiushen
    功能说明：插入数据库记录
    是否有缓存：无
    -->
    insert into content_tags (id, tag_name, content_type, 
      icon, status, creater, create_time, 
      modifier, modify_time, version
      )
    values (#{id,jdbcType=BIGINT}, #{tagName,jdbcType=VARCHAR}, #{contentType,jdbcType=BIT}, 
      #{icon,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{creater,jdbcType=BIGINT}, now(), 
      #{modifier,jdbcType=BIGINT}, #{modifyTime,jdbcType=TIMESTAMP}, 0
      )
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.dongtong.topic.domain.ContentTags" useGeneratedKeys="true">
    <!--
    开发负责人：chen xiushen
    功能说明：选择性插入数据库记录
    是否有缓存：无
    -->
    insert into content_tags
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tagName != null">
        tag_name,
      </if>
      <if test="contentType != null">
        content_type,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tagName != null">
        #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null">
        #{contentType,jdbcType=BIT},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        now(),
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        0,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dongtong.topic.domain.ContentTags">
    <!--
    开发负责人：chen xiushen
    功能说明：根据主键来更新对应数据库字段
    是否有缓存：无
    -->
    update content_tags
    <set>
      <if test="tagName != null">
        tag_name = #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null">
        content_type = #{contentType,jdbcType=BIT},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      modify_time = now(),
      version = version+1
    </set>
    where id = #{id,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dongtong.topic.domain.ContentTags">
    <!--
    开发负责人：chen xiushen
    功能说明：根据主键来更新数据库记录
    是否有缓存：无
    -->
    update content_tags
    set tag_name = #{tagName,jdbcType=VARCHAR},
      content_type = #{contentType,jdbcType=BIT},
      icon = #{icon,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      creater = #{creater,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=BIGINT},
      modify_time = now(),
      version = version+1
    where id = #{id,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
  </update>
  <select id="selectByPage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" /> 
    from content_tags
    order by create_time desc 
  </select>

  <select id="selectTagListByContentId" resultType="com.dongtong.topic.dto.resp.HotTagsRespDTO" parameterType="java.lang.Long">
    SELECT cta.id AS tagId,cta.icon AS tagIcon, cta.tag_name AS tagName FROM content con
    LEFT JOIN content_relation_tags crt ON crt.content_id = con.id
    LEFT JOIN content_tags cta ON cta.id = crt.tag_id AND cta.status = 1
    WHERE crt.content_id = #{contentId,jdbcType=BIGINT}
  </select>

  <select id="selectTagListByType" resultType="com.dongtong.topic.dto.resp.HotTagsRespDTO" parameterType="com.dongtong.topic.dto.req.HotTagsReqDTO">
    SELECT id AS tagId,icon AS tagIcon, tag_name AS tagName
    FROM content_tags
    WHERE content_type = #{contentType,jdbcType=BIT} AND status = 1
  </select>
</mapper>